<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Webview_Test.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B60DE513FB1DD18B3AF29EB617E873657E37056F</string>
				<key>dateExpires</key>
				<string>2024/01/04</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B60DE513FB1DD18B3AF29EB617E873657E37056F</string>
						<key>dateExpires</key>
						<string>2024/01/04</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>887FUK5M6L</string>
						<key>name</key>
						<string>SUPAJA Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B60DE513FB1DD18B3AF29EB617E873657E37056F</string>
						<key>dateExpires</key>
						<string>2024/01/04</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>887FUK5M6L</string>
						<key>name</key>
						<string>SUPAJA Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B60DE513FB1DD18B3AF29EB617E873657E37056F</string>
						<key>dateExpires</key>
						<string>2024/01/04</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>887FUK5M6L</string>
						<key>name</key>
						<string>SUPAJA Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B60DE513FB1DD18B3AF29EB617E873657E37056F</string>
						<key>dateExpires</key>
						<string>2024/01/04</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>887FUK5M6L</string>
						<key>name</key>
						<string>SUPAJA Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B60DE513FB1DD18B3AF29EB617E873657E37056F</string>
						<key>dateExpires</key>
						<string>2024/01/04</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>887FUK5M6L.com.supaja.crm</string>
						<key>com.apple.developer.team-identifier</key>
						<string>887FUK5M6L</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.supaja.crm.onesignal</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>8187499b-f312-418d-9729-fe85ac9dc5f2</string>
						<key>dateExpires</key>
						<string>2024/01/04</string>
						<key>name</key>
						<string>supaja crm extension notification 2023</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>887FUK5M6L</string>
						<key>name</key>
						<string>SUPAJA Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>887FUK5M6L.com.supaja.crm</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>887FUK5M6L</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.supaja.crm.onesignal</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Webview_Test.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0d796c48-b776-4024-8fd5-6ff2b8fa7b9a</string>
				<key>dateExpires</key>
				<string>2024/01/04</string>
				<key>name</key>
				<string>supaja crm 2023</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>887FUK5M6L</string>
				<key>name</key>
				<string>SUPAJA Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
