<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bazaar</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>shinhan-sr-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>mpocket.online.ansimclick</string>
		<string>scardcertiapp</string>
		<string>cloudpay</string>
		<string>hanawalletmembers</string>
		<string>hanaskcardmobileportal</string>
		<string>nhallonepayansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>kb-acp</string>
		<string>Liivbank</string>
		<string>newliiv</string>
		<string>kbbank</string>
		<string>NewSmartPib</string>
		<string>com.wooricard.wcard</string>
		<string>wooripay</string>
		<string>citimobileapp</string>
		<string>lotteappcard</string>
		<string>citicardappkr</string>
		<string>lottesmartpay</string>
		<string>ispmobile</string>
		<string>kpay</string>
		<string>payco</string>
		<string>kakaotalk</string>
		<string>lpayapp</string>
		<string>lmslpay</string>
		<string>shinsegaeeasypayment</string>
		<string>supertoss</string>
		<string>tmoneypay</string>
		<string>chai</string>
		<string>tswansimclick</string>
		<string>uppay</string>
		<string>kftcbankpay</string>
		<string>bankwallet</string>
		<string>ukbanksmartbanknonloginpay</string>
		<string>kdb-bankpay</string>
		<string>ibk-bankpay</string>
		<string>kb-bankpay</string>
		<string>keb-bankpay</string>
		<string>sh-bankpay</string>
		<string>nhb-bankpay</string>
		<string>nh-bankpay</string>
		<string>wr-bankpay</string>
		<string>sc-bankpay</string>
		<string>s-bankpay</string>
		<string>ct-bankpay</string>
		<string>dg-bankpay</string>
		<string>bnk-bankpay</string>
		<string>kj-bankpay</string>
		<string>jj-bankpay</string>
		<string>jb-bankpay</string>
		<string>kn-bankpay</string>
		<string>kp-bankpay</string>
		<string>cu-bankpay</string>
		<string>mg-bankpay</string>
		<string>kbn-bankpay</string>
		<string>kkb-bankpay</string>
		<string>tauthlink</string>
		<string>ktauthexternalcall</string>
		<string>upluscorporation</string>
		<string>tauthlink</string>
	</array>
	<key>P_RESERVED</key>
	<array>
		<string>iosapp=Y&amp;app_scheme=bazaar://</string>
		<string>app_scheme=bazaar://</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
